body {
  margin-top: 3000px;
  text-font: OpenSans, Ariel;
}

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.right-section
{
  display: block;
  align-items: center;
  margin-left: 25px;
  line-height: 5px;
  color: rgb(115, 115, 115);
  text-size: 15px;
  background-color: pink;
}

.middle-section {
  display: flex;
  align-items: center;
  color: rgb(115, 115, 115);
  text-size: 20px;
background-color: lightblue;
}


.left-section {
  display: flex;
  background-color: pink;
}

.profile-picture {
  height: 40px;
  margin-right: 25px;
  margin-top: 10px;
  border-radius: 20px;
}
