body {
  margin-top: 3000px;
}

.header {
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  border-bottom: lightgrey;
  background-color: pink;
}

.right-section
{
  display: flex;
}

.middle-section {
  display: flex;
}

.left-section {
  display: flex;
}

.profile-picture {
  height: 50px;
}
