body {
  margin-top: 3000px;
}

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
  border-bottom-weight: 1px;
}

.right-section
{
  display: block;
  align-items: center;
  margin-left: 25px;
  line-height: 5px;
  color: lightgrey;
  text-size: 15px;
  background-color: pink;
}

.middle-section {
  flex: 1;
  align-items: center;
  color: lightgrey;
  text-size: 20px;
background-color: lightblue;
}


.left-section {
  display: flex;
  background-color: pink;
}

.profile-picture {
  height: 50px;
}
