.footer {
  display: flex;
  position: fixed;
  justify-content: space-around;
  left: 0;
  bottom: 0;
 right: 0;
  height: 55px;
background-color: pink;
  border: 1px solid lightgrey;
}

.footer-link{
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: lightblue;
}

.footer-link img{
  margin-top: 10px;
height: 35px;
  background-color: lightpink;
}


.js-youtube-link-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 150px;
  border: 3px solid lightgrey;
  background-color: black;
  z-index: 100;
}
